/*--- General Setup ---*/

html,
body {
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	color: #EDF2F4;
	font-size: 20px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	top: -20px;
}

ul {
	padding: 0;
}


/*--- Pokemon Nav ---*/


.nav-li {
	display: inline-block;
	margin: 10px 10px;
	text-decoration: none;
	font-size: 100%;
}

.nav-btn-moltres:link,
.nav-btn-moltres:visited {
	text-decoration: none;
	color: #EDF2F4;
	transition: border .3s;
	border-bottom: 2px solid #EDF2F4;
	padding: 5px 0;
}

.nav-btn-moltres:hover,
.nav-btn-moltres:active {
    color: #FED766;
    border-bottom: 2px solid #FED766;
}

.nav-btn-suicune:link,
.nav-btn-suicune:visited {
	text-decoration: none;
	color: #EDF2F4;
	transition: border .3s;
	border-bottom: 2px solid #EDF2F4;
	padding: 5px 0;
}

.nav-btn-suicune:hover,
.nav-btn-suicune:active {
    color: #A4CEFF;
    border-bottom: 2px solid #A4CEFF;
}

.nav-btn-ho-oh:link,
.nav-btn-ho-oh:visited {
	text-decoration: none;
	color: #EDF2F4;
	transition: border .3s;
	border-bottom: 2px solid #EDF2F4;
	padding: 5px 0;
}

.nav-btn-ho-oh:hover,
.nav-btn-ho-oh:active {
    color: #E52C20;
    border-bottom: 2px solid #E52C20;
}

.moltres-ul li {
	list-style: none;
}
.suicune-ul li {
	list-style: none;
}
.ho-oh-ul li {
	list-style: none;
}

/*--- Vertical Nav ---*/

header {
	height: 0;
	width: 0;
}

@keyframes fadeIn{
	0% { opacity: 0; }
	100% { opacity: 1; }
}


.vertical-nav {
	opacity: 0;
	margin: 0;
	padding: 0;
}


.show {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	background-color: transparent;
	position: fixed;
	margin: 260px 20px;
	padding: 0;
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
}


.show img {
	height: 60px;
	width: 60px;
}

.show li {
	margin-bottom: 60px;
	list-style: none;
}

/*--- Trainer Section ---*/

#trainer {
	height: 100vh;
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(gym.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}


.main-text {
	margin-right: 300px;
}

#trainer div h1 {
	margin-bottom: 30px;
}

#trainer div h2 {
	font-size: 200%;
	margin-bottom: 0px;
}

#trainer img {
	height: 600px;
	width: 400px;
}

/*--- Moltres Section ---*/


#moltres {
	height: 100vh;
	margin: 0;
	background: url(moltres.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.moltres-ul {
	border: 4px solid #A20021;
	padding: 10px;
	border-radius: 10px;
	color: #A20021;
	font-size: 180%;
	text-align: left;
	background-color: rgba(162, 0, 33, 0.2)
}


.moltres-ul li {
	margin-left: 10px;
}

.moltres-name {
	margin-bottom: 20px;
}

.moltres-hp-value {
	margin-bottom: 20px;
}

.moltres-attack-value {
	margin-bottom: 20px;
}

.moltres-defense-value {
	margin-bottom: 20px;
}

/*--- Suicune Section ---*/

#suicune {
	height: 100vh;
	margin: 0;
	background: url(suicune.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.suicune-ul {
	border: 4px solid #9777A7;
	padding: 10px;
	border-radius: 10px;
	color: #9777A7;
	font-size: 170%;
	text-align: left;
	background-color: rgba(151, 119, 167, 0.2);
}

.suicune-ul li {
	margin-left: 10px;
}

.suicune-name {
	margin-bottom: 20px;
}

.suicune-hp-value {
	margin-bottom: 20px;
}

.suicune-attack-value {
	margin-bottom: 20px;
}

.suicune-defense-value {
	margin-bottom: 20px;
}

/*--- Ho-oh Section ---*/

#ho-oh {
	height: 100vh;
	margin: 0;
	background: url(ho-oh.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.ho-oh-ul {
	border: 4px solid #6EEB83;
	padding: 10px;
	border-radius: 10px;
	color: #6EEB83;
	font-size: 180%;
	text-align: left;
	background-color: rgba(110, 235, 131, 0.2);
}

.ho-oh-ul li {
	margin-left: 10px;
}

.ho-oh-name {
	margin-bottom: 20px;
}

.ho-oh-hp-value {
	margin-bottom: 20px;
}

.ho-oh-attack-value {
	margin-bottom: 20px;
}

.ho-oh-defense-value {
	margin-bottom: 20px;
}