html,
body {
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	color: #EDF2F4;
	font-size: 40px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.nav-li {
	display: inline-block;
	margin: 10px 60px;
	text-decoration: none;
}

.pokemon-ul {
	border: 2px solid #EDF2F4;
	padding: 30px;
	border-radius: 10px;
	margin: 0px 100px 0px 330px;
}

.pokemon-ul-big {
	border: 2px solid #EDF2F4;
	padding: 30px;
	border-radius: 10px;
	margin: 0px 160px 0px 280px;
}


.pokemon-ul li {
	list-style: none;
}
.pokemon-ul-big li {
	list-style: none;
}



.nav-btn:link,
.nav-btn:visited {
	text-decoration: none;
	color: #EDF2F4;
	transition: border .3s;
	padding: 5px 0;
}

.nav-btn:hover,
.nav-btn:active {
    color: #EDF2F4;
    border-bottom: 2px solid #EDF2F4;
}


#trainer {
	height: 970px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background: url(gym.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#moltres {
	height: 970px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background: url(moltres.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#moltresImg {
	
}

.moltres-name {
	margin-bottom: 30px;
}

.moltres-hp-value {
	margin-bottom: 30px;
}

.moltres-attack-value {
	margin-bottom: 30px;
}

.moltres-defense-value {
	margin-bottom: 30px;
}


#suicune {
	height: 970px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background: url(suicune.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.suicune-name {
	margin-bottom: 30px;
}

.suicune-hp-value {
	margin-bottom: 30px;
}

.suicune-attack-value {
	margin-bottom: 30px;
}

.suicune-defense-value {
	margin-bottom: 30px;
}

#ho-oh {
	height: 970px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background: url(ho-oh.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.ho-oh-name {
	margin-bottom: 30px;
}

.ho-oh-hp-value {
	margin-bottom: 30px;
}

.ho-oh-attack-value {
	margin-bottom: 30px;
}

.ho-oh-defense-value {
	margin-bottom: 30px;
}


